/* * är en universiell selector/väljare */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Egna CSS Regler */
.header {
    background-color: bisque;
    height: 90px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content > div {
    width: 100%;
}

/* Meny */
.meny ul li {
    display: inline;
    margin-left: 15%;
}

.tmpBorder {
    border: 1px solid red;
}

/* Ändrar bildstorlekar i class left */
.images > img {
    width: 100%;
    height: 100%;
}

/* Regler för service section */
.service {
    padding: 2%;
}

/* Justera layout för tabellen */
table {
    width: 100%;
    border-collapse: collapse;
}

ol{
    padding-left: 1.5%;
}

/* Justera layout för td och th */
td,
th {
    border: 1px solid silver;
    text-align: left;
    padding: 5px;
}

/* Justera layout för tr med hjälp av even/odd */
tr:nth-child(even) {
    background-color: silver;
}

/* Justera Contact section */
textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
